@import "../toolbox/mixins.scss";
@import "../toolbox/media-queries.scss";

input,
textarea,
select,
button {
  font-weight: 700;
  font-size: 1.6rem;
  @include tablet {
    font-size: 2.4rem;
  }
}

input,
textarea,
select {
  width: 100%;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  margin: 1rem 0;
  color: #282c34;
}

label {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 900;
}

button {
  background-color: transparent;
  border: 0.3rem solid #fff;
  padding: 1rem 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  margin: 3rem 0;
  transition-duration: 0.5s;
  border-radius: 0.2rem;
  cursor: pointer;

  @include states {
    background-color: white;
    color: #282c34;
  }

  &.small {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    border: 0.1rem solid white;
    padding:.5rem 1rem;
  }
}

.control-wrapper:not(:last-child) {
  margin-bottom: 1.5rem;
}
