@import "../toolbox/mixins.scss";
@import "../toolbox/media-queries.scss";

.table {
  margin-top: 3rem;

  .table-head,
  .table-row {
    display: flex;
  }

  .table-head {
  }

  .table-row {
    @include states {
      .table-cell {
        background-color: rgba(white, 0.2);
      }
    }

    &:nth-child(even) {
      .table-cell {
        background-color: rgba(white, 0.05);
      }

      @include states {
        .table-cell {
          background-color: rgba(white, 0.2);
        }
      }
    }

    .table-cell {
      transition-duration: 0.5s;
      border-left: 0.1rem solid rgba(white, 0.5);
      border-right: 0.1rem solid rgba(white, 0.5);
    }
  }

  .table-cell {
    padding: 1rem;
    border-bottom: 0.1rem solid rgba(white, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 1.6rem;
  }
}
