@import "../toolbox/media-queries.scss";

.candidates {
  .table {
    .table-cell {
      width: 19%;
      &:last-child {
          display: flex;
          align-items: center;
          min-width: 6rem;
          padding-top:0;
          padding-bottom:0;

        border:none;
        width: 5%;
        background-color: transparent !important;
      }
    }
  }
}
