@import '../toolbox/media-queries.scss';

.instruments {
    .entry {
        padding: 3rem 0;
        box-sizing: border-box;
        border-bottom: .1rem solid white;
    }

    .table {
        .table-cell {
            &:first-child {
                width: 50%;
            }

            &:nth-child(2) {
                width: 50%;
            }
        }
    }
}