@import '../toolbox/media-queries.scss';

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
}

a {
    color: white;
    font-weight: 100;
    text-decoration: none;
}

.app {
    transition-property: background, color;
    transition-duration: .3s;
    min-height: 100vh;
    font-family: "Lato", sans-serif;

    &.theme-light {
        color: #282c34;
    }

    &.theme-dark {
        background-color: #282c34;
        color: white;
    }
}

.container {
    max-width: 160rem;
    margin: 0 auto;
}

.heading {
    font-size: 3.2rem;
    margin: 2rem 0;

    @include tablet {
        font-size: 4.5rem;
    }
}
.uppercase{
    text-transform: uppercase;
    font-weight: 900;
}