@import '../toolbox/media-queries.scss';

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
}

a {
    color: white;
    font-weight: 100;
    text-decoration: none;
}

.app {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    font-family: "Lato", sans-serif;

}

.app-body {
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 1.6rem;

    @include tablet {
        padding: 0 5rem;
        font-size: 1.8rem;
    }
}

.heading {
    font-size: 3.2rem;
    margin: 2rem 0;

    @include tablet {
        font-size: 4.5rem;
    }
}

.record-count {}